nav {
  height: 50px;
  background-color: lightgrey;
  color: white;
}

/* target the class of inline-block below */
.inline-block {
    display: inline-block;
    padding: 15px;
    width: 100px;
    text-align: center;
    background-color: #444444;
}